@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to right, black, #cc0000);
  font-size: 1.2rem;
  color: white;
}

.navbar-for-scrolling {
  background-color: #ff499e;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.logo-name {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.logo {
  height: 3rem;
  margin-right: 1rem;
  margin-left: -1.5rem;
}

.navbar-for-scrolling .logo-name {
  width: 40%;
  margin-left: 5rem;
  font-size: 3rem;
  font-weight: 800;
}

.navbar-for-scrolling .logo-name:hover {
  cursor: pointer;
}

.navbar-for-scrolling .nav-options {
  margin-right: 5rem;
  opacity: 0.7;
  font-size: 1.5rem;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar-for-scrolling .nav-options:hover {
  cursor: pointer;
  color: black;
  opacity: 1;
  /* transition: 0.5s ease; */
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  margin-top: 5rem;
}

.left-text {
  flex-basis: 30%;
}

.heading {
  font-size: 3rem;
  color: beige;
  text-align: center;
}

.sub-heading {
  color: white;
  margin-top: 0.625rem;
  text-align: center;
  text-align: justify;
}

.gallery {
  flex-basis: 50%;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 7.5rem;
}

.box {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
  color: white;
  background-blend-mode: hard-light;
  transition: all 0.5s ease-in-out;
}

.row-2 {
  grid-row: span 2;
}
.col-2 {
  grid-column: span 2;
}

.special {
  background-position: center -80px;
}

.box:hover {
  background-color: #999;
  /* background-position: top; */
  box-shadow: 0 0 4px white;
  cursor: pointer;
}

.ride-container h2 {
  font-size: 2rem;
  margin-left: 2rem;
  margin-bottom: 1.5rem;
  /* padding: 1rem; */
}

.ride-container ul {
  margin-bottom: 2rem;
}

.ride-container ul li {
  /* list-style: none; */
  margin-left: 5rem;
  /* margin-bottom: 2rem; */
  line-height: 2rem;
}

.ride-container p {
  margin-left: 2rem;
}

.ride-container ul li:hover {
  cursor: pointer;
}
